## 1. conda 環境のセットアップ
Jupyter Notebook を稼働させるのに必要な Python ライブラリのインストールを行います。本セットアップのコードは Azure ML Compute Instances のパスを前提にしているため、ローカル PC を利用される際は適宜変更ください。

### conda 環境の名称

In [ ]:
name = "rai-demo"

### conda 環境の作成と Python ライブラリのインストール

In [ ]:
%conda env create -n {name} -f ../environments/rai-demo.yml

### Jupyter のカーネルに conda 環境を設定

In [ ]:
!/anaconda/envs/{name}/bin/python -m ipykernel install --user --name {name} --display-name {name}

## 2. Azure ML Dataset の登録

In [1]:
from azureml.core import Workspace, Dataset

In [3]:
ws = Workspace.from_config()

In [4]:
datastore = ws.get_default_datastore()

In [10]:
datastore.upload_files(files=['../data/adult_census.csv'], 
                       target_path='rai-demo/', overwrite=True)

Uploading an estimated of 1 files
Uploading ../data/adult_census.csv
Uploaded ../data/adult_census.csv, 1 files out of an estimated total of 1
Uploaded 1 files

$AZUREML_DATAREFERENCE_e6ae32b2452d4b898a5861b5b01aff24

In [15]:
datastore = ws.get_default_datastore()
dataset = Dataset.Tabular.from_delimited_files(path=(datastore, 'rai-demo/adult_census.csv'))

In [20]:
dataset.take(5).to_pandas_dataframe()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,target
0,25.0,Private,226802.0,11th,7.0,Never-married,Machine-op-inspct,Own-child,Black,Male,0.0,0.0,40.0,United-States,<=50K
1,38.0,Private,89814.0,HS-grad,9.0,Married-civ-spouse,Farming-fishing,Husband,White,Male,0.0,0.0,50.0,United-States,<=50K
2,28.0,Local-gov,336951.0,Assoc-acdm,12.0,Married-civ-spouse,Protective-serv,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
3,44.0,Private,160323.0,Some-college,10.0,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688.0,0.0,40.0,United-States,>50K
4,18.0,None,103497.0,Some-college,10.0,Never-married,None,Own-child,White,Female,0.0,0.0,30.0,United-States,<=50K

In [23]:
dataset.register(ws, 'adult_census', create_new_version=True)

{
  "source": [
    "('workspaceblobstore', 'rai-demo/adult_census.csv')"
  ],
  "definition": [
    "GetDatastoreFiles",
    "ParseDelimited",
    "DropColumns",
    "SetColumnTypes"
  ],
  "registration": {
    "id": "e67b31c3-0c29-4ac9-88aa-eb0cca2793ef",
    "name": "adult_census",
    "version": 3,
    "workspace": "Workspace.create(name='azureml-rai', subscription_id='82a5d8d3-5322-4c49-b9d6-da6e00be5d57', resource_group='responsible-ai')"
  }
}